<body>
  <h1>Translator para o Slack</h1>
  <div id="messages"></div>

  <form action="/channel/message" method="post">
    <p>
      <label for="message">Digite sua mensagem: </label>
    </p>
    <textarea id="message" name="message" value="" rows="3" cols="70"></textarea>
    <br>
    <button type="button" onclick="sendChannelMessage()">Enviar Mensagem</button>
  </form>
 <script>
   sendChannelMessage = function() {
     console.log('from function')
     const messages = document.getElementById("messages");
     const message = document.getElementById("message");
     const xhttp = new XMLHttpRequest();
     xhttp.open("POST", "/channel/message", true);
     xhttp.onreadystatechange = () => {
      if (xhttp.readyState === XMLHttpRequest.DONE) {
        const status = xhttp.status;
        if (status === 0 || (status >= 200 && status < 400)) {
          console.log(xhttp.responseText);
          let p = document.createElement("p");
          p.append(xhttp.responseText);
          messages.append(p);
        } else {
          console.log('error on receiving message');
        }
      }
    };
     xhttp.send(message.value);
   }

   function fetchLatestResponse() {
    fetch('/latest_response')
      .then(response => response.json())
       .then(data => {
         debugger
         const output = document.getElementById("messages");
         if (data !== null) {
          let p = document.createElement("p");
           p.append(data.data);
           const messages = document.getElementById("messages");
           messages.append(p);
         }
      })
      .catch(error => console.error("Error fetching latest response:", error));
  }
   setInterval(fetchLatestResponse, 10000)
  fetchLatestResponse();
 </script>
</body>

