---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['SLACK_API_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      x-slack-req-id:
      - ad9b957655c7110647c15f2a1bb2e1d6
      content-type:
      - application/json; charset=utf-8
      x-oauth-scopes:
      - app_mentions:read,channels:history,channels:join,channels:manage,channels:read,chat:write.customize,chat:write.public,chat:write,files:read,files:write,groups:history,groups:read,groups:write,im:history,im:read,im:write,links:read,links:write,mpim:history,mpim:read,mpim:write,pins:read,pins:write,reactions:read,reactions:write,reminders:read,reminders:write,team:read,usergroups:read,usergroups:write,users:read,users:write,users.profile:read
      x-slack-unique-id:
      - aAW8PNC0Kt0WBfyuxH_PfQAAAC4
      x-slack-backend:
      - r
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-server:
      - slack-www-hhvm-main-iad-aauj
      x-slack-shared-secret-outcome:
      - no-match
      x-edge-backend:
      - envoy-www
      x-slack-edge-shared-secret-outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/actionnetwork-cgq5750.slack.com\/","team":"Action
        Network Enterview","user":"powerful_app","team_id":"SECRET","user_id":"SECRET","bot_id":"SECRET","is_enterprise_install":false}'
  recorded_at: Mon, 21 Apr 2025 03:32:12 GMT
recorded_with: VCR 6.3.1
